# Reading the Iris Data

In [66]:
import numpy as np
import pandas as pd
import matplotlib as plt

iris_data = pd.read_csv('iris.csv')
iris_data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# Displaying Columns of the dataset

In [30]:
print ('Columns in the Iris Data are')
print ('-'*50)
for i in iris_data.columns:
   # print(i,type(iris_data[i]))
    print(i)

Columns in the Iris Data are
--------------------------------------------------
SL
SW
PL
PW
Classification

# Mean of each column of the Iris dataset

In [60]:
print('Column'," "*5,'Mean')
print ('-'*50)
for i in iris_data.columns:   
    if (iris_data[i].dtypes == np.float64):
        print(iris_data[i].name," "*5 ,iris_data[i].mean())

Column       Mean
--------------------------------------------------
SL       5.843333333333335
SW       3.0540000000000007
PL       3.7586666666666693
PW       1.1986666666666672

# Checking null Data

In [75]:
iris_data [iris_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [SL, SW, PL, PW, Classification]
Index: []

# Visualizations of the Iris data

#     1. Bar chart